<!-- medicine_brand.html -->
{% extends "dashboard.html" %}

{% block title %}Medicine Brands{% endblock %}

{% block content %}

<div class="container py-5 mt-8">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <!-- Add medicine brand button -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between">
          <h3 class="text-secondary">Medicine Manufacturer</h3>
          <button type="button" class="btn bg-gradient-primary " data-bs-toggle="modal" data-bs-target="#addMedicineBrandModal">
            Add Medicines Manufacturer
          </button>
        </div>

        

        <!-- Data Table -->
        <table id="med" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th style="text-align: left;">S.no</th>
              <th>Manufacturer Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td style="text-align: left;">{{ loop.index }}</td>
              <td>{{ item.manufacturer_name }}</td>
              <td>{{ item.description }}</td>
              <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#editBrand{{item.id}}">
                  <i class="bi bi-pencil-square mx-3"></i>
                </a>

                <!--Edit Medicine Brand Details -->
                <div class="modal fade" id="editBrand{{item.id}}" tabindex="-1" aria-labelledby="editBrand"
                  aria-hidden="true">
                  <div
                    class="modal-dialog modal-lg modal-dialog-centered d-flex justify-content-center align-items-center">
                    <div class="modal-content border-0 shadow w-50">
                      <div class="modal-header form-header">
                        <h5 class="modal-title" id="editBrand">Edit Medicine Manufecturer's Details</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('brands.edit_brand', id=item.id) }}" method="POST">
                          <div class="mb-3">
                            <label for="brand_name" class="form-label">Manufacturer Name</label>
                            <input type="text" class="form-control" id="manufacturer_name" name="manufacturer_name" value="{{ item.manufacturer_name }}"
                              required>
                          </div>

                          <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description"
                              rows="3">{{ item.description }}</textarea>
                          </div>
                          <div class="text-end">
                            <button type="submit" class="btn bg-gradient-primary">Submit</button>
                            <button type="button" class="btn bg-gradient-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="{{ url_for('brands.delete_brand', id=item.id) }}"
                  onclick="return confirm('Are you sure you want to delete this medicine brand?');">
                  <i class="bi bi-trash-fill mx-3"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!--Add Medicine Brand Modal -->
        <div class="modal fade" id="addMedicineBrandModal" tabindex="-1" aria-labelledby="addMedicineBrandModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered d-flex justify-content-center align-items-center">
            <div class="modal-content border-0 shadow w-50">
              <div class="modal-header form-header">
                <h5 class="modal-title" id="addMedicineBrandModalLabel">Add Medicine Brand</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('brands.brands') }}" method="POST">
                  <div class="mb-3">
                    <label for="manufacturer_name" class="form-label">Manufacturer Name</label>
                    <input type="text" class="form-control" id="manufacturer_name" name="manufacturer_name" placeholder="Enter manufacturer name" required>
                  </div>

                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Enter description" rows="3"></textarea>
                  </div>
                  <div class="text-end">
                    <button type="submit" class="btn bg-gradient-primary">Submit</button>
                    <button type="button" class="btn bg-gradient-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}