{% extends "dashboard.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container-sm mt-8 px-8">
    <div class="row">
        <div class="col-lg-12 offset-lg-1">


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-x-lg"
                        viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="table_heading d-flex justify-content-between">
                <h3 class="text-secondary">Pharmacy Details</h3>
              </div>

            <table id="med" class="table table-sm table-striped table-bordered align-middle text-nowrap small">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Pharmacy Name</th>
                        <th>Pharmacy Address</th>
                        <th>Pharmacy City</th>
                        <th>Pharmacy State</th>
                        <th>Pharmacy Pincode</th>
                        <th>Pharmacy Primary Name</th>
                        <th>Pharmacy Primary Number</th>
                        <th>Pharmacy Secondary Name</th>
                        <th>Pharmacy Secondary Number</th>
                        <th>Pharmacy User Count</th>
                        <th>Pharmacy Email</th>
                        <th>Pharmacy license Number</th>
                        <th>Invoice range</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{item.pharmacy_name}}</td>
                        <td>{{item.pharmacy_address}}</td>
                        <td>{{item.pharmacy_city}}</td>
                        <td>{{item.pharmacy_state}}</td>
                        <td>{{item.pharmacy_pincode}}</td>
                        <td>{{item.pharmacy_primary_name}}</td>
                        <td>{{item.pharmacy_primary_number}}</td>
                        <td>{{item.pharmacy_secondary_name}}</td>
                        <td>{{item.pharmacy_secondary_number}}</td>
                        <td>{{item.pharmacy_user_count}}</td>
                        <td>{{item.pharmacy_email}}</td>
                        <td>{{item.pharmacy_license_number}}</td>
                        <td>{{item.invoice_range}}</td>
                        <td>
                            <a href="{{ url_for('pharm_details.edit_details', id=item.id) }}" data-bs-toggle="modal"
                              data-bs-target="#editPharmacy{{item.id}}">
                              <i class="bi bi-pencil-square mx-3"></i>
                            </a>
                            <div class="modal fade" id="editPharmacy{{item.id}}" tabindex="-1" aria-labelledby="editPharmacyLabel{{item.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered d-flex justify-content-center align-items-center">
                                    <div class="modal-content border-0 shadow w-50">
                                        <div class="modal-header form-header">
                                            <h5 class="modal-title" id="editPharmacyLabel{{item.id}}">Edit Pharmacy Details</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('pharm_details.edit_details', id=item.id) }}" method="POST">
                                                <input type="hidden" name="id" value="{{item.id}}">
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_name" class="form-label">Pharmacy Name</label>
                                                        <input class="form-control" type="text" name="pharmacy_name"
                                                            value="{{item.pharmacy_name}}">
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_address" class="form-label">Pharmacy Address</label>
                                                        <input class="form-control" type="text" name="pharmacy_address"
                                                            value="{{item.pharmacy_address}}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_city" class="form-label">City</label>
                                                        <input class="form-control" type="text" name="pharmacy_city"
                                                            value="{{item.pharmacy_city}}">
                                                    </div>
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_state" class="form-label">State</label>
                                                        <input class="form-control" type="text" name="pharmacy_state"
                                                            value="{{item.pharmacy_state}}">
                                                    </div>
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_pincode" class="form-label">Pincode</label>
                                                        <input class="form-control" type="text" name="pharmacy_pincode"
                                                            value="{{item.pharmacy_pincode}}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_primary_name" class="form-label">Primary Contact Name</label>
                                                        <input class="form-control" type="text" name="pharmacy_primary_name"
                                                            value="{{item.pharmacy_primary_name}}">
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_primary_number" class="form-label">Primary Contact Number</label>
                                                        <input class="form-control" type="text" name="pharmacy_primary_number"
                                                            value="{{item.pharmacy_primary_number}}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_secondary_name" class="form-label">Secondary Contact Name</label>
                                                        <input class="form-control" type="text" name="pharmacy_secondary_name"
                                                            value="{{item.pharmacy_secondary_name}}">
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="pharmacy_secondary_number" class="form-label">Secondary Contact Number</label>
                                                        <input class="form-control" type="text" name="pharmacy_secondary_number"
                                                            value="{{item.pharmacy_secondary_number}}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_user_count" class="form-label">User Count</label>
                                                        <input class="form-control" type="number" name="pharmacy_user_count"
                                                            value="{{item.pharmacy_user_count}}">
                                                    </div>
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_email" class="form-label">Email</label>
                                                        <input class="form-control" type="email" name="pharmacy_email"
                                                            value="{{item.pharmacy_email}}">
                                                    </div>
                                                    <div class="mb-3 col-md-4">
                                                        <label for="pharmacy_license_number" class="form-label">License Number</label>
                                                        <input class="form-control" type="text" name="pharmacy_license_number"
                                                            value="{{item.pharmacy_license_number}}">
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="invoice_range" class="form-label">Invoice Range</label>
                                                        <input class="form-control" type="text" name="invoice_range"
                                                            value="{{item.invoice_range}}">
                                                    </div>
                                                </div>
                            
                                                <div class="text-end">
                                                    <button type="submit" class="btn bg-gradient-primary">Update</button>
                                                    <button type="button" class="btn bg-gradient-secondary me-2"
                                                        data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}